
        <form method="post" action="{% url 'blog:contact_us' %}" class="js-contact-us">
          {% csrf_token %}

          <div class="mb-3">
          <label for="formGroupExampleInput" class="form-label">Enter your name</label>
          <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Name" name="username">
          </div>
          <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" name="email">
          </div>
          <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Message text</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Message", name="text"></textarea>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Send message</button>
      </div>
      </form>