{% extends 'blog/base.html' %}

{% block content %}


<table class="table table-striped">
  <tr>
    <th>Post id</th>
    <th>Post title</th>
      <th>Owner of Post</th>
      <th>Short description</th>
  </tr>
{% for p in object_list %}
    <tr>
    <th><a href="{% url 'blog:post_detail' p.id %}">{{p.id}}</a></th>
    <th><a href="{% url 'blog:post_detail' p.id %}">{{p.title}}</a></th>
    <th><a href="{% url 'login:user_detail' p.owner.id %}">{{p.owner}}</th>
    <th>{{p.short_discription}}</th>
</tr>
{% endfor %}
</table>
<br>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
<br>
</div>
<button type="button" class="btn btn-warning"><a href="{% url 'blog:create_post' %}" >Create post</a></button>
<button type="button" class="btn btn-warning"><a href="{% url 'blog:post_user_list' %}" >User posts</a></button>
{% if user_is_logged %}
<button type="button" class="btn btn-warning"><a href="{% url 'blog:post_user_list' %}" >All users posts</a></button>
{% endif %}
{% endblock %}

