{% extends 'blog/base.html' %}

{% block content %}
<a href="{% url 'blog:post_user_list' %}">Back to Post list</a><br>
<p> Post id: {{post.id}}</p>
<p> Post title: {{post.title}}</p>
<p> Short description: {{post.short_discription}}</p>
<p> Description: {{post.discription}}</p>
{% if post.picture %}
<img src={{post.picture.url}}>
{% endif %}
<p> Is published: {{post.is_published}}</p>
{% if show_edit_page %}
<a href="{% url 'blog:post_update' post.id %}">Edit post</a><br>
{% endif %}
<a href="{% url 'blog:create_comment' post.id %}">Add comment</a><br>
<a href="{% url 'blog:post_comments' post.id %}">Show all comments</a><br>
{% endblock %}